*{
    margin: 0px;
}

.gridwrapper {
    display: grid;
    
    height: 100vh;
    width: 100vw;
    grid-gap: 5px;
    grid-template-columns: 25% repeat(4);
    grid-template-rows: 15% 60% 15% 10%;
    grid-template-areas: 
        "he he . ."
        "ar ar . ."
        ". . . ."
        ". . . ."
    ;
}


.header{
    grid-area: he;
    background: aqua;
}

.article{
    grid-area: ar;
    background: beige;
}

body{
    background-image: url();
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}