*{
    margin: 0px;
}

.gridwrapper {
    display: grid;
    
    height: 100vh;
    width: 100vw;
    grid-gap: 0px   ;
    grid-template-columns: 10% 30% 50% 10%;
    grid-template-rows: 10% 35% 20% 35%;
    grid-template-areas: 
        "he he he he"
        ". ar di ."
        "nav ar di nah"
        ". ar di ."
    ;
}


.header{
    grid-area: he;
    background: black;
}

.article{
    grid-area: ar;
    background: transparent;
    padding: 40px;
}

.navv{
    grid-area: nav;
}

.navh{
    grid-area: nah;
}

.div{
    grid-area: di;
}

body{
    background-image: url();
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}